.bytesized-regular {
  font-family: "Bytesized", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
	background-color: black;
	background-image: url(content/GraffitiBG.webp);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	font-family: sans-serif;
	text-wrap: nowrap;
}
header{
	width: 90%;
	max-width: 80em;
	margin-inline: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.logo{
	color: white;
	font-family: Bytesized;
	margin: 0px;
}
nav{
	color: white;
}
a{
	text-decoration: none;
	color: white;
	text-shadow: 0px 0px 0.1em white;
}
.material-symbols-outlined{
	border-style: solid;
	border-radius: 2em;
	border-color: black;
	background-color: black;
	padding: 0.5em;
	transition: border-color 0.1s, background-color 0.1s;
}
.material-symbols-outlined:hover{
	border-color: darkred;
	background-color: darkred;
}
.block-window{
	padding: 0.2em;
	background-color: white;
	box-shadow: 0.2em 0.2em 0px black, 0.4em 0.4em 0px white;
	text-align: center;
}
.window-name{
	font-family: Bytesized;
	font-size: 1.25em;
	margin-left: 0.15em;
	position: absolute;
	left: 0.25em;
	top: 0px;
}
button{
	background-color: transparent;
	border: none;
	font-family: Bytesized;
	font-size: 1em;
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 0px;
}
button:hover{
	color: darkred;
}
button:active{
	color: black;
}
.window-header{
	font-size: 2em;
	text-align: center;
	margin-top: 0.75em;
	margin-bottom: 0px;
}
p{
	font-size: 1em;
	font-weight: bold;
	text-align: justify;
	padding-left: 2em;
	padding-right: 2em;
	text-wrap: wrap;
}
.sections{
	margin-inline: auto;
	margin-bottom: 5em;
	position: relative;
}
.window1{
	max-width: 20em;
}
.window2{
	max-width: 50em;
}
.window3{
	max-width: 25em;
}
.hyper-text{
	border-style: solid;
	border-radius: 2em;
	border-color: black;
	background-color: black;
	padding-top: 0.15em;
	padding-bottom: 0.15em;
	padding-inline: 0.5em;
	font-family: Bytesized;
	font-size: 2em;
	font-weight: bold;
	position: absolute;
	top: 1.5em;
	left: 3.685em;
	transition: border-color 0.1s, background-color 0.1s;
}
.hyper-text:hover{
	border-color: darkred;
	background-color: darkred;
}
#qr-code{
	margin-top: 6.5em;
}
footer{
	padding: 0.5em;
	background-color: white;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}
#dancing-konata{
	filter: brightness(0);
}
.credits{
	text-align: center;
}
.mask-scroll{
	width: 90%;
	max-width: 80em;
	height: 1em;
	margin-inline: auto;
	position: relative;
	overflow: hidden;
}
.scroll{
	position: absolute;
	left: max(calc(9.65em * 8), 100%);
	animation-name: leftscroll;
	animation-duration: 60s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes leftscroll{
	to{
		left: -15em;
	}
}
.item1{
	animation-delay: calc(60s / 8 * (8 - 1) * -1);
}
.item2{
	animation-delay: calc(60s / 8 * (8 - 2) * -1);
}
.item3{
	animation-delay: calc(60s / 8 * (8 - 3) * -1);
}
.item4{
	animation-delay: calc(60s / 8 * (8 - 4) * -1);
}
.item5{
	animation-delay: calc(60s / 8 * (8 - 5) * -1);
}
.item6{
	animation-delay: calc(60s / 8 * (8 - 6) * -1);
}
.item7{
	animation-delay: calc(60s / 8 * (8 - 7) * -1);
}
.item8{
	animation-delay: calc(60s / 8 * (8 - 8) * -1);
}
